body {
    background-image: url(../images/bigearth.jpg);
    color: #ffffff;
}

#pic {
    max-width: none;
}

#empty-row {
    height: 75px;
}

#pic {
    text-align: center;
}

.main-content {
    border: 3px double gold;
    font-family: Impact;
}

h1 {
    color: #FFD700;
}

#win, #bar, #number_guesses, #guessed_letters {
    font-size: 24px;
}

span {
    margin-left: 5px;
}

#announcement, #number_guesses {
    color: lightskyblue
}

#win {
    color: lightgreen;
}

#bar {
    font-size: 48px;
}

#guessed_letters {
    color: orangered;
}

footer {
    color: #ffffff;
    background-color: #666666;
    height: 40px;
    font-size: 12px;
}

